.regClosed{
    text-align: center;
    font-weight: bold;
}
.checkBack{
    text-align: center;
    font-weight: bold;
}
.logo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.mainDiv{
    padding-top: 100px;
}